
<form action="/form/formHandle" method="post" id="friendFinderForm">

  <!--questionName-->
  <div class="form-group">
    <label for="nameQuestionSelect">Name (required)</label>
    <input type="text" name="nameQuestionSelect" id="nameQuestionSelect" class="form-control" placeholder="Please enter your name">
  </div>
  <!--questionPhoto-->
  <div class="form-group">
    <label for="photoQuestionSelect">Link to profile photo (required)</label>
    <input type="text" name="photoQuestionSelect" id="photoQuestionSelect" class="form-control" placeholder="Please enter your link">
  </div>
  <!--questionZero-->
  <div class="form-group">
    <label for="zeroQuestionSelect">Your mind is always buzzing with unexplored ideas.</label>
    <select name="zeroQuestionSelect" class="form-control" id="zeroQuestionSelect">
      <option value="1">1 (Mildly Agree)</option>
      <option value="2">2</option>
      <option value="3">3 (Strongly Agree)</option>
    </select>
  </div>
    <!--questionOne-->
    <div class="form-group">
      <label for="firstQuestionSelect">Your mind is always buzzing with unexplored ideas.</label>
      <select name="firstQuestionSelect" class="form-control" id="firstQuestionSelect">
        <option value="1">1 (Mildly Agree)</option>
        <option value="2">2</option>
        <option value="3">3 (Strongly Agree)</option>
      </select>
    </div>
    <!--questiontwo-->
    <div class="form-group">
      <label for="secondQuestionSelect">Generally speaking, rely more on your experience .</label>
      <select name="secondQuestionSelect" class="form-control" id="secondQuestionSelect">
        <option value="1">1 (Mildly Agree)</option>
        <option value="2">2</option>
        <option value="3">3 (Strongly Agree)</option>
      </select>
    </div>
    <!--questionThree-->
    <div class="form-group">
      <label for="thirdQuestionSelect">You find it easy to stay relaxed and focused even when there is some pressure.</label>
      <select name="thirdQuestionSelect" class="form-control" id="thirdQuestionSelect">
        <option value="1">1 (Mildly Agree)</option>
        <option value="2">2</option>
        <option value="3">3 (Strongly Agree)</option>
      </select>
    </div>
    <!--questionFour-->
    <div class="form-group">
      <label for="fourthQuestionSelect">You rarely do something just out of sheer curiosity.</label>
      <select name="fourthQuestionSelect" class="form-control" id="fourthQuestionSelect">
        <option value="1">1 (Mildly Agree)</option>
        <option value="2">2</option>
        <option value="3">3 (Strongly Agree)</option>
      </select>
    </div>
    <!--questionFive-->
    <div class="form-group">
      <label for="fifthQuestionSelect">It is often difficult for you to relate to other people’s feelings</label>
      <select name="fifthQuestionSelect" class="form-control" id="fifthQuestionSelect">
        <option value="1">1 (Mildly Agree)</option>
        <option value="2">2</option>
        <option value="3">3 (Strongly Agree)</option>
      </select>
    </div>
    <!--submit Button-->
    <button type="submit" name="formSubmitButton" class="btn btn-primary btn-lg btn-default" id="formSubmitButton">Find My Match</button>
</form>


<script>

</script>
