
{{!--This will be the match name header --}}
<div class="matchNameContainer">
    <span id="matchNameText">{{matchName}} is your match</span>
</div>

{{!--This will be the container for the image--}}
<div class="matchImageContainer">
  <img class="img-responsive" src="{{imageLink}}" alt="">
</div>
